nav > header {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--flash-white);
    grid-template-columns: 1fr min-content;
    align-items: center;
}

@media only screen and (max-device-width: 1100px) {
    nav > header {
        padding-left: 3.5rem;
    }

    nav > header > a {
        justify-content: center;
    }
}

nav > header > a {
    color: var(--flash-white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > header > a:hover {
    background: none;
}

nav > header > a > img {
    height: 2.25rem;
    margin-right: .5rem;
}

nav > header > .button {
    color: var(--flash-light);
    border: .15rem solid var(--flash-dark);
    border-radius: 9999px;
    height: 2.25rem;
    width: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > header > .button > * {
    padding: 0;
    margin: 0 !important;
}

nav {
    background-color: var(--flash-gray-dark);
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    z-index: 3;
}

nav > * {
    padding: 1rem;
}

nav > .mode {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: .25rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

nav > .mode > button {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--flash-white);
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: background;
    flex: 1;
}

nav > .mode > button:hover {
    cursor: pointer;
}

nav > .mode > button .feather {
    width: 1rem;
    height: 1rem;
    opacity: 50%;
}

nav > .mode > button.selected {
    border-bottom: .2rem solid var(--flash-tab-selected-bg);
    border-top: .2rem solid rgba(0, 0, 0, 0);
}

nav > .mode > button:not(.selected) {
    border-bottom: .2rem solid var(--flash-border);
    border-top: .2rem solid rgba(0, 0, 0, 0);
}

nav > .mode > button:hover {
    background-color: var(--flash-hover);
}

nav > .content {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: .25rem;
}

nav > .content details:not(.root) > div {
    padding-left: 1.25rem;
}

nav > .content.monospace {
    font-family: 'Source Code Pro', monospace;
}

nav > .content:not(.monospace) {
    font-family: 'Open Sans', sans-serif;
}

nav > .content:not(.monospace) summary {
    color: var(--flash-white);
}

nav > .content summary {
    color: var(--flash-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25rem;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 5rem;
}

nav > .content details.root > summary {
    color: var(--flash-light);
}

nav > .content details.root:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: .1rem solid var(--flash-hover);
}

nav > .content:not(.monospace) > details:not(:first-child) {
    margin-top: 1.25rem;
}

nav > .content:not(.monospace) summary {
    padding: .5rem;
}

nav > .content summary:hover {
    background-color: var(--flash-hover);
    color: var(--flash-white);
    cursor: pointer;
}

nav .feather {
    height: 1.2rem;
}

nav .feather-chevron-right {
    opacity: 50%;
    color: var(--flash-nav-arrow);
}

nav .feather:not(.feather-chevron-right) {
    margin-right: .25rem;
}

nav > .content details[open] > summary > .feather-chevron-right {
    transform: rotate(90deg);
}

nav > .content a {
    color: var(--flash-light);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: .25rem;
    user-select: none;
    white-space: nowrap;
    text-overflow: clip;
    max-width: 100%;
}

@media only screen and (max-device-width: 800px) {
    nav > .content summary {
        padding: .75rem;
    }

    nav > .content a {
        padding: .75rem;
    }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1100px) {
    nav > .content.monospace summary {
        padding: .5rem;
    }

    nav > .content.monospace a {
        padding: .5rem;
    }
    
    nav > .content:not(.monospace) a {
        padding: .5rem;
    }
}

@media only screen and (min-device-width: 1100px) {
    nav > .content:not(.monospace) a {
        padding: .5rem;
    }
}

nav a.selected {
    background-color: var(--flash-hover);
    color: var(--flash-white);
}

nav a .feather {
    min-width: max-content;
}

nav a:hover {
    background-color: var(--flash-hover);
    color: var(--flash-white);
    cursor: pointer;
}

nav a .matched {
    color: var(--flash-search-match);
    font-weight: bold;
}

nav a .namespace {
    opacity: 50%;
}

nav a .scope {
    opacity: 50%;
    color: var(--flash-less-light);
}

nav .nothing-found {
    font-family: 'Open Sans', sans-serif;
    color: var(--flash-light);
    margin-left: 1rem;
}

.search {
    background-color: var(--flash-gray-darker);
}

.input {
    background: var(--flash-gray-darkest);
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    padding-left: .5rem;
    justify-content: stretch;
    align-items: stretch;
}

.input > input {
    padding: .5rem;
    display: block;
    background: none;
    border: none;
    width: 100%;
    color: var(--flash-white);
    outline: none;
    flex-grow: 1;
}

.input > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: .25rem;
    border: none;
    color: var(--flash-light);
}

.input > button:hover {
    background-color: var(--flash-hover);
    cursor: pointer;
}

.input > button .feather {
    margin: 0;
}
